@media (max-width: 980px) {
  .reservation {
    .container {
      .booking_form {
        width: 100%;
      }
    }
    .cover {
      display: none;
    }
  }
}

// Small Phones
@media (max-width: 460px) {
  .reservation {
    .container {
      .booking_form {
        form {
          div:not(:last-child),
          div:not(:nth-last-child(2)) {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}

// Just Keep Going
