$main-color:#F10000;
$red-shadow:rgba(241,0,0,.3);
$black:#000000;
$white:#FFFFFF;
$sections-bg:#F9F9F9;
$transparent-black-10:rgba(0,0,0,10%);
$transparent-black-5:rgba(0,0,0,5%);
$gray-300:#333333;
$gray-600:#666666;